#
# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

# Default system properties included when running spark-submit.
# This is useful for setting default environmental settings.

# Example:
# spark.master                     spark://master:7077
# spark.eventLog.enabled           true
# spark.eventLog.dir               hdfs://namenode:8021/directory
# spark.serializer                 org.apache.spark.serializer.KryoSerializer
# spark.driver.memory              5g
# spark.executor.extraJavaOptions  -XX:+PrintGCDetails -Dkey=value -Dnumbers="one two three"

#Spark: basic spark configuraitons
#spark.executor.instances 1

#OAP: libraries to load
#spark.executorEnv.LD_LIBRARY_PATH /opt/home/conda/envs/oap-0.9.0/lib/
#spark.executor.extraLibraryPath /opt/home/conda/envs/oap-0.9.0/lib/
#spark.driver.extraLibraryPath /opt/home/conda/envs/oap-0.9.0/lib/

#OAP: extra jars to include
#spark.sql.extensions    org.apache.spark.sql.OapExtensions
#spark.executor.extraClassPath    /opt/home/conda/envs/oap-0.9.0/oap_jars/oap-cache-0.9.0-with-spark-3.0.0.jar:/opt/home/conda/envs/oap-0.9.0/oap_jars/oap-common-0.9.0-with-spark-3.0.0.jar
#spark.driver.extraClassPath    /opt/home/conda/envs/oap-0.9.0/oap_jars/oap-cache-0.9.0-with-spark-3.0.0.jar:/opt/home/conda/envs/oap-0.9.0/oap_jars/oap-common-0.9.0-with-spark-3.0.0.jar

#OAP: volumns for Spark
#spark.kubernetes.executor.volumes.hostPath.pmem-cache.mount.path /opt/home/pmem
#spark.kubernetes.executor.volumes.hostPath.pmem-cache.mount.readOnly false
#spark.kubernetes.executor.volumes.hostPath.pmem-cache.options.path /mnt/pmem
#spark.kubernetes.executor.volumes.hostPath.pmem-cache.options.type Directory